.nav{
  border: 1px solid black;
  background-color: cornflowerblue;
  height: 10vh;
  width:100%;
  display:flex;
  justify-content: flex-start;
  overflow: auto;
  min-width: 100%;
}
.logo{
  height:9vh;
  margin: 10px
}
.image{
  height:30vh;
  min-width: 100%;
  min-height: 100%;
}
.postWrapper{
  display: flex;
  justify-content: center;
}
.post{
  width: 60vw;
  overflow: auto;
  display:flex;
flex-direction: column;
justify-content: center;
}
