/* body{
  display:flex;
  flex-direction: column;
} */
p{
  text-decoration: none;
}
.nav{
  border: 1px solid black;
  background-color: cornflowerblue;
  height: 10vh;
  width:100%;
  display:flex;
  justify-content: flex-start;
  /* overflow: auto; */
  min-width: 100%;
}
.logo{
  height:9vh;
  margin: 10px
}
.image{
  height:30vh;
  min-width: 100%;
  min-height: 100%;
}
.titleWrap{
  text-align: center;
}
.genreWrap{
  text-align: center;
}
.summaryWrap{
  padding-left: 3px;
  padding-right: 1px;

}
.summary{
  text-decoration: none;

}
.postWrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-decoration: none;
}
.post{
  width: 60vw;
  max-width: 60vw;
  /* width: 60vw; */
  /* height: 60vh; */
  overflow: auto;
  display:flex;
flex-direction: column;
justify-content: center;
display: block;
margin:10px;
}
.dropdownWrap{
  margin-left: 50px;
  margin-bottom: 20px;
  display: flex;
flex-direction: column;
justify-content:end;
}
.dropdown {
  position: relative;
}
.dropBtn{
  display:flex;
}
.menu {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid grey;
  width: 150px;
}
.menu > li {
  margin: 0;
  background-color: white;
}
.menu > li:hover {
  background-color: lightgray;
}
.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
