body{
  background-color: rgb(35, 35, 35);
}
p{
  text-decoration: none;
}

.nav{
  border: 1px solid black;
  background-color: cornflowerblue;
  height: 10vh;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: auto; */
  min-width: 100%;
  background-color:rgb(109, 8, 29);
  color:whitesmoke;
  font-family: 'Poppins', sans-serif;
}
.createBtn{
  font-family: 'Poppins', sans-serif;
  height:5vh;
  width:6vw;
  font-size: 12px;
}
.profileBtn{
  font-family: 'Poppins', sans-serif;
  height:5vh;
  width:6vw;
  font-size: 15px;
}
.dropBtn{
  font-family: 'Poppins', sans-serif;
  height:5vh;
  width:6vw;
  font-size: 15px;
}
.profileBtn:hover{
  height: 5.3vh;
  background-color: rgb(133, 38, 38);
}
.createBtn:hover{
    height: 5.3vh;
    background-color: rgb(133, 38, 38);
}
.dropBtn:hover{
height: 5.3vh;
background-color: rgb(133, 38, 38);
}
.signOutTxt{
margin: 10px;
color:black;
font-size: 20px;
}
.signOutTxt:hover{
color:whitesmoke;  
}
.signOutConfirm{
margin:15px;
color: black;
font-size: 20px;

}
.signOutConfirm:hover{
  color:whitesmoke;
  text-decoration: underline;
}
.signOutCancel{
  margin:15px;
  color: black;
  font-size: 20px;
}
.signOutCancel:hover{
  color:whitesmoke;
  text-decoration: underline;
}
.logo{
  height:9vh;
  margin: 10px
}
.image{
  max-height:40vh;
  min-width: 100%;
  min-height: 100%;
}
.titleWrap{
  text-align: center;
}
.genreWrap{
  text-align: center;
}
.summaryWrap{
  padding-left: 3px;
  padding-right: 1px;

}
.summary{
  text-decoration: none;

}
.postWrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-decoration: none;
}
.post{
  /* width: 40vw; */
  max-width: 40vw;
  /* width: 60vw; */
  max-height: 90vh;
  overflow: hidden;
  display:flex;
flex-direction: column;
justify-content: center;
display: block;
margin:10px;
color:whitesmoke;
background-color: rgb(32, 30, 30);
border-radius: 15px 15px 15px 15px;
box-shadow: 0.8px 0.8px 0.8px 0.8px;
text-align: center;
}
.dropdownWrap{
  margin-left: 50px;
  margin-bottom: 20px;
  display: flex;
flex-direction: column;
justify-content:end;
}
.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid grey;
  width: 150px;
}
.menu > li {
  margin: 0;
  background-color: white;
}
.menu > li:hover {
  background-color: lightgray;
}
.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
